
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.stripe-container {
	position: relative;
	top: -67px;
	left: -100px;
	width: 600px;
	transform: rotate(45deg);
}

.stripe {
	background: #353535;
	width: 600px;
	height: 3px;
	margin-bottom: 16px;
}

.center {
  position: absolute;
	width: 260px;
	height: 260px;
  top: 70px;
  left: 70px;
  background: #353535;
	border-radius: 3px;
	box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.3);
}

.shape {
	position: absolute;
	width: 160px;
	height: 140px;
	top: 60px;
	left: 50px;
}

.light {
	fill: #eee;
	transition: all 0.5s ease-in-out;
}

.middle {
	fill: #ccc;
	transition: all 0.5s ease-in-out;
}

.dark {
	fill: #aaa;
	transition: all 0.5s ease-in-out;
}

.shape:hover .light {
	fill: #aaa;
}

.shape:hover .middle {
	fill: #eee;
}

.shape:hover .dark {
	fill: #ccc;
}
