@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #4C4BA2;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ball {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: white;
}

.ball:nth-child(1) {
  animation: move 1016.9491525424ms ease-in-out infinite;
}

.ball:nth-child(2) {
  animation: move 1034.4827586207ms ease-in-out infinite;
}

.ball:nth-child(3) {
  animation: move 1052.6315789474ms ease-in-out infinite;
}

.ball:nth-child(4) {
  animation: move 1071.4285714286ms ease-in-out infinite;
}

.ball:nth-child(5) {
  animation: move 1090.9090909091ms ease-in-out infinite;
}

.ball:nth-child(6) {
  animation: move 1111.1111111111ms ease-in-out infinite;
}

.ball:nth-child(7) {
  animation: move 1132.0754716981ms ease-in-out infinite;
}

.ball:nth-child(8) {
  animation: move 1153.8461538462ms ease-in-out infinite;
}

.ball:nth-child(9) {
  animation: move 1176.4705882353ms ease-in-out infinite;
}

.ball:nth-child(10) {
  animation: move 1200ms ease-in-out infinite;
}

.ball:nth-child(11) {
  animation: move 1224.4897959184ms ease-in-out infinite;
}

.ball:nth-child(12) {
  animation: move 1250ms ease-in-out infinite;
}

.ball:nth-child(13) {
  animation: move 1276.5957446809ms ease-in-out infinite;
}

.ball:nth-child(14) {
  animation: move 1304.347826087ms ease-in-out infinite;
}

.ball:nth-child(15) {
  animation: move 1333.3333333333ms ease-in-out infinite;
}

.ball:nth-child(16) {
  animation: move 1363.6363636364ms ease-in-out infinite;
}

.ball:nth-child(17) {
  animation: move 1395.3488372093ms ease-in-out infinite;
}

.ball:nth-child(18) {
  animation: move 1428.5714285714ms ease-in-out infinite;
}

.ball:nth-child(19) {
  animation: move 1463.4146341463ms ease-in-out infinite;
}

.ball:nth-child(20) {
  animation: move 1500ms ease-in-out infinite;
}

@keyframes move {
  0%, 100% {
    transform: translate3d(50px, 0, 0);
  }
  50% {
    transform: translate3d(-50px, 0, 0);
  }
}
